
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 1.5rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: oldlace;
  padding: 1.5rem;
}

.nav {
  display: flex;
}

.nav li {
  margin: 1.5rem;
}

a {
  text-decoration: none;
  color: brown;
  transition: 0.5s ease-in-out;
}

a:hover {
  opacity: 0.8;
  border-bottom: 1px solid brown;

}